<?xml version="1.0"?>
<robot name="fcs2310" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find fcs4hand2310)/urdf/fcs4hand2310.urdf"/>

  <ros2_control name="fcs" type="system">
    <hardware>
      <plugin>hardware_fcs/HardwareFCS</plugin>
      <param name="device">/dev/ttyUSB0</param>
      <param name="num">4</param>
    </hardware>

    <joint name="hndj00">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>

    <joint name="hndj01">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>

    <joint name="hndj10">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>

    <joint name="hndj11">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    
  </ros2_control>
  
</robot>
